{{#extends "base"}}
  {{#block "content"}}
  <div class = "text-center">
    <img class = "sad-face" src= "sad_face.png">
    <h2 class = "inconv">We're sorry for the inconvience</h2>
  </div>

  <div class = "mt-5">
    <p><em>Although we strive to give you the best residential experience, we may be unsuccessful at times.</em></p>
    <p>Your feedback goes a long way in helping us improve the residential experience for all. Please fill up the feedback form below and we will get back to you as soon as we can</p>
  </div>

  <form class = "mt-5" method = "POST">
    <div class="form-group">
      <label>Your Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>
  </form>

  {{/block}}
{{/extends}}
