{{#extends "base"}}
  {{#block "content"}}
    <img class ="condo" src="condo.jpg" alt="Image of a condo" >

    <div class = "m-3">
      <h3>AppleBee Residences</h3>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>

    <div class = "m-3">
        <h3 class = "mb-4">Member Benefits</h3>

        <div class="d-inline-flex">
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="coffee.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">20% discount on all coffees and biscuits for our members. <a href = "#" class = "btn btn-primary stretched-link">Learn More</a></p>
          </div>
      </div>

      <div class="card m-3" style="width: 18rem;">
        <img class="card-img-top" src="car.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Free hour of car rentals.<a href = "#" class = "btn btn-primary stretched-link">Learn More</a></p>
        </div>
    </div>

    <div class="card m-3" style="width: 18rem;">
      <img class="card-img-top" src="gaming.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">40% discount at gaming cafe.<a href = "#" class = "btn btn-primary stretched-link">Learn More</a></p>
      </div>
  </div>
  </div>

    </div>
  {{/block}}
{{/extends}}
