.condo {
  height:50vh;
  width:100vw;
  filter: blur(4px);
}

.inconv {
  margin:10px auto 15px;
}


.sad-face {
  height:40vh;
}

#textarea {
  width:50vw;
}

.form-control {
  width:20vw;
}

#submit_btn {
  width:40vw;
}
